body {
    background-color:#F8EDEB ;
    color: #63474d;
    font-family: 'Roboto', sans-serif;
      font-size: 22px;
}

/* title section */

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 56px;
  text-align: center;
  padding: 50px ;
  color: #542a2e;
}
.nav-item {
  font-size: 32px;
  padding: 18px;
}
.nav-link{
    color: #a35159!important;
}
/* carousel  */

.carousel-section {
  background-color: #FEC5BB;
  text-align: center;
  margin-top: 50px;
}
.carousel-img {
  max-width: 90vw;
  margin: auto;
  box-shadow: 0 0 10px #000000;
}

@media (min-width: 997px) {
  .carousel-img {
      max-width: 70vw;
  }
}

/* pricing section */


.price-table {
    font-size: 22px;
  margin: auto auto 30px;
  line-height: 2;
}
#price-div {
  padding: 0px 10% 0px;
  text-align: center;
  background-color: #F8EDEB;
  font-size: 20px;
}
.pink-row {
  background-color: #FCD5CE;
}
hr {
  margin: 100px auto 100px;
  border-top: dotted 10px #FCD5CE;
  width: 20%;
}
.pricing-title{
  font-size: 24px;
  margin-bottom: 20px;
}
td {
  padding: 0 15px;
}
.price-info{
  color: #a35159;
}

/* contact */

.openings {
  padding: 0 10% 50px;
  font-size: 20px;
  }
.tel-nr {
  color:#ab5557;
  font-weight: 700;
  font-size: 24px;
}

/* footer */

footer {
  background-color: #FEC5BB;
  margin: 70px 0 0 ;
  padding: 50px 0 30px;
}

.fa-envelope-open-text{
  color:#ab5557;
}
